{% extends 'layout.html' %}

{% block title %}
  <title>
    Страница просмотра списка задач
  </title>
{% endblock %}

{% block content %}
  <h1>Список задач</h1>
  <a href="{% url 'core:create' %}" class="button-link">Создать</a>
  <ul class="todo-list">
    {% for todo in todo_list %}
      <li>
        <a href="{% url 'core:detail' pk=todo.pk %}">
          <div class="todo-list__card">{{ todo.name }}</div>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% include 'pagination.html' %}
{% endblock %}
